<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forbidden</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../templates/static/css/tailwind.css') }}"
    />

    <script>
      // Redirect after 3 seconds
      setTimeout(function () {
        window.location.href = "/";
      }, 3000); // 3000 milliseconds = 3 seconds
    </script>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-red-500">
    <div class="bg-white p-8 rounded-lg shadow-md text-center">
      <!-- Display the flash message -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="mb-4 p-4 bg-red-500 text-black rounded text-xl">
        {{ messages[0] }}
      </div>
      {% endif %} {% endwith %}

      <p class="text-gray-700 mt-4 text-xl">
        You will be redirected to the home page shortly...
      </p>
    </div>
  </body>
</html>
