<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div
      class="bg-white p-8 rounded-lg shadow-md w-full max-w-xs flex flex-col gap-5"
    >
      <h1 class="text-2xl font-bold mb-6">Login Attempt..</h1>

      <!-- Display flash messages -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="mb-4 p-4 bg-red-100 text-red-700 rounded">
        {{ messages[0] }}
      </div>
      {% endif %} {% endwith %}

      <form action="/login" method="POST" class="flex flex-col space-y-4">
        <label for="username" class="text-sm font-semibold">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="p-2 border border-gray-300 rounded"
          required
        />

        <label for="password" class="text-sm font-semibold">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="p-2 border border-gray-300 rounded"
          required
        />

        <button
          type="submit"
          class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 text-xl"
        >
          Login
        </button>
      </form>
      <div class="home-container my-6 text-center">
        <a href="/" class="text-yellow-400 text-5xl mt-8">🐝...</a>
      </div>
    </div>
  </body>
</html>
